.bill-container {
  margin-bottom: 25px;
}

.search-term {
  background-color: #307eac;
}

.card-width {
  width: 100%;
}

.top-five {
  padding-top: 80px;
}

.cardheader {
  color: black;
}

h6 {
  display: inline;
}

.card-body {
  margin-bottom: 30px;
  border: ;
}

.column {
  /* border: 1px solid black; */
  height: 100%;
  width: 200px;
}
