.jumbo {
  background-color: #2f7faa;
}

.container-jumbo {
  padding: 100px 0 200px;
  border-radius: 25px;
}

.jumbotron {
  background-color: #333f4e;
  /* margin-bottom: 1rem;
  margin-top: 1rem; */
  border-top: 0.5rem solid white;
  border-bottom: 0.5rem solid white;
}
