.top-container {
  /* margin-bottom: 50px; */
  text-align: justify;
}

.bottom-container {
  text-align: justify;
}

img {
  border-radius: 10px;
}

.search-button {
  width: 200px;
}

.search-box {
  width: 200px;
}
